<section class="whiteSection">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sectionTitle">
          <h2><span>初到加拿大</span></h2>
          <p></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a1.jpg" %>
            <h4>加拿大入境安全</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article1_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a2.jpg" %>
            <h4>加拿大签证办理</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article2_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a3.jpg" %>
            <h4>加拿大简介</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article3_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a4.jpg" %>
            <h4>旅游贴士</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article4_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a5.jpg" %>
            <h4>特色风土人情</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article5_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
      <div class="col-sm-4 isotopeSelector">
        <article class="">
          <figure>
            <%= image_tag "articles/a6.jpg" %>
            <h4>购物指南</h4>
            <div class="overlay-background">
              <div class="inner"></div>
            </div>
            <div class="overlay">
              <%= link_to article6_path, class: "fancybox-pop" do %>
                <div class="overlayInfo">
                  <h5> <span></span></h5>
                  <p style="display: none;"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                </div>
              <% end %>
            </div>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>
