<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>加拿大入境安全</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article2_path, class: "list-group-item" do %>
                  加拿大签证办理<span class="badge"></span>
                <% end %>
                <%= link_to article3_path, class: "list-group-item" do %>
                  加拿大简介<span class="badge"></span>
                <% end %>
                <%= link_to article4_path, class: "list-group-item" do %>
                  旅游贴士<span class="badge"></span>
                <% end %>
                <%= link_to article5_path, class: "list-group-item" do %>
                  特色风土人情<span class="badge"></span>
                <% end %>
                <%= link_to article6_path, class: "list-group-item" do %>
                  购物指南<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>2019年加拿大最新严禁入境物品黑名单大全</h2>
            <ul class="list-inline blogInfo" style="display:none;">
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Adam Smith</a></li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
              <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
            </ul>
            <p>
              <strong>现金：</strong>
              根据规定，如果携带1万加元（或等值外币）以上现金或金融票据（股票、债券、银行汇票、支票和旅行支票），不管是到达还是离开加拿大，都必须向CBSA申报。否则如被查获，这些钱财可能会被没收，并且会有罚款。这点可能有很多朋友误以为，加拿大只准1万元加元的现钞入境，这是完全错误的概念。只要如实申报，一万元以上的现金也可以携带入境。
            </p>
            <p>
              <strong>酒类：</strong>
              19岁以上者，可以携带下面三种酒类之中的一种。其免税限量分别如下：不超过1.5升葡萄酒，或1.14升烈性酒，或最多8.5升啤酒。超过上述数量的葡萄酒、酒精饮料或啤酒/麦芽酒，须对超出部分缴关税和政府税。
            </p>
            <p>
              <strong>香烟：</strong>
              19岁以上者，只能携带一条免税香烟（200支），最多只能携带5条，多出数量需要对超出部分缴关税、政府税和省规费。
            </p>
            <p>
              <strong>药草：</strong>
              药草、香料、茶叶、咖啡豆、以及调味品(condiment)，均可以带入加拿大。但是加拿大卫生部判定有毒加以限制的草药不能入境。注意，中草药是指干或冰冻的药草，并非新鲜植物或中成药，而且一定不能带有任何类似树皮的成分。中成药属于非处方药，也有严格要求。加拿大一般准许携带自己使用的药品入境，携带一个疗程或90天供应量的药品数量入境。处方药除了必须有开药处方外，还必须是医院或药房包装、以及带有使用说明的原始标签、或零售包装。非处方药也要求要有正规包装。
            </p>
            <p>
              <strong>贵重物品：</strong>举例来说，如果你携带一部日本制造的笔记本电脑返回加拿大，而又不能证明这部电脑是你离开加拿大之前就拥有的，你可能就必须为它缴关税和政府税了。所以，一定要为贵重物品带好发票、收据、保单和珠宝鉴定书等，以证明物品并非为海外购买。
            </p>
            <p>
              CBSA有免费的贵重物品识别登记服务。在你离开加拿大之前，可以请CBSA人员对有序列号或其他特殊标记的物品做登记，这样在你返回加拿大时，提供登记卡，物品就可以无忧免税入境了。不过，CBSA对珠宝名表类不提供登记服务，这类物品还是需要用收据和鉴定书等票证来证明非海外购买。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
