<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>购物指南</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article1_path, class: "list-group-item" do %>
                  加拿大入境安全<span class="badge"></span>
                <% end %>
                <%= link_to article2_path, class: "list-group-item" do %>
                  加拿大签证办理<span class="badge"></span>
                <% end %>
                <%= link_to article3_path, class: "list-group-item" do %>
                  加拿大简介<span class="badge"></span>
                <% end %>
                <%= link_to article4_path, class: "list-group-item" do %>
                  旅游贴士<span class="badge"></span>
                <% end %>
                <%= link_to article5_path, class: "list-group-item" do %>
                  特色风土人<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>加拿大冰酒</h2>
            <ul class="list-inline blogInfo" style="display:none;">
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Adam Smith</a></li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
              <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
            </ul>

            <p>
              加拿大冰酒（Icewine），是一种甜型葡萄酒，是加拿大国酒。它是利用气温在零下8℃以下，在葡萄树上自然冰冻的葡萄酿造的葡萄酒。 ”Icewine”已经是加拿大冰酒的专属名词，只有在VQA（加拿大酒商品质联盟）法定产区按规定酿造的冰酒才能称之为“Icewine”,类似法国的香槟Champagne规定。
            </p>

            <h5>技术从德国引进</h5>
            <p>
              冰酒有着悠久的歷史，它的酿造是于200多年前欧洲无意间被发现后，开始流传至今。加拿大冰酒酿造技术是由德国移民带入加拿大，经进一步改良，主要酿造白冰酒和红冰酒。加拿大的第一批冰酒是卑诗省的沃特‧海恩勒（Walter Hainle）葡萄酒厂生产的1974年雷司令冰酒。而安大略首次生产冰酒则在1982年。
            </p>
            <p>
              VQA对冰酒（Icewine）的定义是：利用气温在零下8℃以下，在葡萄树上自然冰冻的葡萄酿造的葡萄酒。葡萄在被冻成固体状时才採摘压搾，在压搾过程中外界温度必须保持在零下8℃以下，多余的水分因结成冰晶而被除去，只流出少量浓缩葡萄汁，这种葡萄汁被慢慢发酵并在7个月后装瓶。冰酒是浓缩的精华。
            </p>

            <h5>加国有4个产区</h5>
            <p>
              冰酒的酿造对地理气候要求极为严格，纬度高，温度低，冬季要全然天寒地冻，但其他季节却又要够温暖，因此全球只有几个国家（位于北纬41度左右）生产冰酒，加拿大有四个葡萄酒产区：安大略省、英属哥伦比亚省（BC省）、魁北克省和新斯科捨省。不过，符合VQA冰酒标准的产区可只有安大略省和BC省，其它两省不执行VQA标准，故也只有安省和BC省的冰酒才能被标称为Icewine。在加拿大，冰酒仅仅佔到葡萄酒总产量的2%。
            </p>

            <p>
              卑诗省的奥肯那根河谷（Okanagan Valley）风光秀美，当地气候和风土特别适合葡萄的生长，该地区靠近奥肯那根沙漠，葡萄生长期昼夜温差较大，凝聚了大量的糖分，成熟后气候寒冷，有利于葡萄自然浓缩冻结，而且不易霉烂，欧肯那根知名酒庄有Summerhill Pyramid Winery（金字塔庄园）、kalala（卡拉拉庄园）、Sonoran（索诺兰庄园）等，欧肯那根酿造出加拿大乃至世界上顶级的冰酒，就冰酒而言，BC省相对安省贵30%左右。
            </p>

            <h5>加拿大VQA法律强制</h5>
            <p>
              VQA—加拿大酒商品质联盟（Vintners Quality Alliance），是加拿大葡萄酒的原产地名称系统，消费者由此可判定该葡萄酒来自加拿大。安大略省于1988年开始执行VQA标准，而卑诗省于1990年开始执行。从2000年开始，VQA由一个自愿的标准组织变成一个强制的法律体系。
            </p>

            <h5>60％出口亚洲</h5>
            <p>
              加拿大冰酒的独特风味非常适合亚洲人的饮食习惯， 其出口60%以上都到亚洲，中国当然也能时时见到她的芳踪了，每年出口到中国都保持在300多万加币，大概在6万瓶左右。加拿大冰酒价格昂贵，一般都在50-100加币，是葡萄酒中的奢侈品，据《葡萄酒经济週刊》报导，加拿大成为继瑞士葡萄酒之后，平均出口价格最高的葡萄酒，而香槟、波尔多、勃艮第、波特酒均不能与之抗衡。世界上最贵的一瓶冰酒于2006年11月由安大略省一个小酒庄（Royal Demaria皇家德马里亚）售出，价格高达3万美金。加拿大冰酒价格昂贵，在中国，市场价一般都在500元以上，有的上千元甚至几千元。
            </p>

            <h5>辨别真假</h5>
            <p>
              据葡萄酒观察家（winespectator）的一篇报导指出：中国市场销售的80%冰酒可能是假的。
            </p>
            <p>
              真正加拿大冰酒：由加拿大原瓶进口的冰酒，符合VQA品质控制标准，“Icewine”、“ Product of Canada”，并能从酒标中查找到酒厂或庄园的资讯，容量基本以375ml或200ml为主， 市场价大多在500元以上，在中国，经营真正加拿大冰酒的机构仅有艾思帏茵等少数几家。假冒加拿大冰酒：“Ice wine”、“Ice wine style”、“lateharvest”等，“Ice wine style（冰酒风格）”用普通的葡萄汁，仿冰酒的特点，酿制成类似冰酒的葡萄酒；“late harvest（晚收）”用晚收葡萄酿造的甜型葡萄酒。还有一些如从加拿大进口浓缩葡萄汁，在国内稀释后勾兑灌装；通过人工冷冻葡萄甚至葡萄汁，用萃取浓缩汁液；由红、白葡萄酒浓缩、加糖等添加剂调配；直接用糖精、酒精、香精、水等添加剂直接调配的冰酒。VQA标识、酒标资讯是辨别真伪的主要资讯，但最重要的还是酒的真正品鉴包括外观、色泽、香气、口感等。真冰酒色泽亮丽，入口有浓郁的芳香，口感甜蜜清爽，有很高的糖度和新鲜的酸度平衡得恰如其分，余味悠长；而假冰酒有冰糖的甜腻味，口感不够细腻，香气简单或有更者会夹杂一些令人不舒服的气味，余味很短或几乎没有。
            </p>
            <p>
              统计表明，生活在盛产冰酒区域的人们，由于饮用冰酒的机会较多，平均寿命达90岁以上。
            </p>

            <h2>加拿大西洋参</h2>

            <p>
              西洋参(NAG)，学名Panax Quinquefolius，是土生于加拿大东部和美国东北部 地区硬木森林的人参品种。加拿大是目前北美洲最大的西洋参生产国，约90%的 加拿大西洋参出产于安大略省的西姆康(Simcoe)地区，其余部分主要出产于不 列颠哥伦比亚省。世界其它西洋参种植地区包括美国的威斯康星州, 并移植到 中国东北部和北部的一些地区。 加拿大西洋参品质出众，口味和气味无与伦比。自18世纪开始，安大略省出产 的西洋参就主要出口到中国，他的卓越品质和甘甜口味深受赞誉。今天，每年 约有2,700吨加拿大西洋参出口到中国和其它亚洲市场。
            </p>

            <h5>感受加拿大西洋参的裨益</h5>
            <p>
              加拿大西洋参和亚洲人参在化学构成上有所不同，两者的生物学效用也明显 有别。人参含有一组称为人参皂甙的化学成分，这些化学成分具有很多药 理特性，其中包括对中枢神经系统的各种效用。1 西洋参中的人参皂甙含 量几乎是亚洲人参的两倍，其Rb1人参皂甙2的含量也更高。从中医的角度看， 这两种人参被认为有互补性。例如，中国人认为西洋参更趋向属“阴” – 意思是它可以用来消除体内的“热”。亚洲人参被认为更趋向属“阳”- 意思是它可以用来提升体内的“热”。
            </p>

            <h5>您的健康和加拿大西洋参</h5>
            <p>
              加拿大西洋参曾是当地原住民印第安人的重要药材。长期以来, 西洋参被 用于宁神解压, 助长消化, 强壮体魄, 健脑益智, 增强身体整体机能。不 管是用作辅助治疗、滋补品还是茶饮，只要食用得当，加拿大西洋参是非 常安全和有效的。根据安大略省西洋参种植者协会的信息，在过去的几十 年中有众多专门研究西洋参健康功效的医学研究文章发表，其中包括西洋参 对糖尿病、感冒和流感、记忆力、注意力缺乏型多动症、癌症、男性性功能、 抗老化, 心血管保护、提高人体免疫力、抗惊厥、缺血状态下的神经保护 和镇痛等的功效。
            </p>

            <h5>确保产品安全、质量和可追溯性</h5>
            <p>
              安大略省西洋参种植者协会积极参与为参农制定<良好农业操作规范>(GAP)。该<规范>经由加 拿大食品检验署批准，向西洋参种植者提供规程评估农场食品安全风险并采取措施消除这些风 险。<良好农业操作规范>是按照HACCP（危害分析和关键控制点）原则制定的, 它将向买家提 供更多一重保证，保证加拿大参农种植和收获的是正宗西洋参，不与其他品种或其他产地的人 参混杂。它还将提供可追溯性，并保证害虫控制产品的有效管理。 按照<良好农业操作规范>的要求，西洋参农场食品安全实践情况须详细记录在案，农场将定期 接受经由加拿大食品检验署认可的审计人员的检查。 绝大多数参农现已通过<良好农业操作规 范>相关培训并等待认证。加拿大西洋参种植者已经做好准备，我们将满足国际买家未来对食品 安全、质量保证和可追溯性的更高更新的要求。
            </p>

            <h5>加拿大的环境优势</h5>
            <p>
              加拿大清洁的水源和最低水平的污染有效地保证了加拿大西洋参的品质。不间断的农艺研究使 参农能够使用生物控制办法； 最新的病害控制研究已经找到了既能减少植物病害又能减少环境 风险的产品，保证了农业的未来可持续性。
            </p>

            <h5>甘露市西洋参</h5>
            <p>
              现如今，位于加拿大西岸BC省的甘露市，已经成为北美最大的西洋参出产地之一。其特殊的地理位置以及长年干燥的半沙漠型气候，对西洋参的生长起到很大的促进作用，因此每年有络绎不绝的中外旅客来到甘露市选购人参。
            </p>

            <h2>加拿大枫糖浆</h2>

            <p>
              美丽迷人的枫树，除了观赏之外，还是加拿大重要的经济来源之一。加拿大的糖枫树，树汁含糖量极高，熬制成枫糖浆，也是加拿大最有名的特产之一。目前全世界百分之七十的枫糖制品集中在魁北克。这种枫糖浆香甜如蜜，风味独特，富含矿物质，是很有特色的纯天然的营养佳品，据说能养颜美容，淋在蔬菜上，还能让不爱吃蔬菜的孩子大快朵顾，深受欢迎。
            </p>

            <p>
              在1600年前后，已开始有关“印第安糖浆”的记载，是印第安人首先发现了枫树液，并用“土法”在枫树干上挖槽、钻洞采集枫树液。当时的“印第安糖浆”就是今天的“枫树糖浆”的前身。枫糖含有丰富的矿物质、有机酸，热量比蔗糖、果糖、玉米糖等都低，但是它所含的钙、镁和有机酸成分却比其他糖类高很多，能补充营养不均衡的虚弱体质。枫糖的甜度没有蜂蜜高，糖分含量约为66%。(蜂蜜含糖量约79%—81%)
            </p>

            <p>
              最常见的枫糖制品是枫糖浆，人们爱吃蘸糖浆的煎饼和法国烤面包，也喜欢在冰淇淋、酸奶和奶昔上浇糖浆。加拿大人还喜欢将枫糖放在雪上一起吃，又冰又甜，口感较软，吃时只觉雪和糖一起慢慢滑下喉咙，非常舒服。
            </p>

            <p>
              枫糖浆可分为几种不同含糖量的，用处也因此不同：有的适合做成硬糖和奶油，有的适合直接食用，有的适宜烹调用。其实枫糖浆在烹调中用处不少，只是不大为人所知而已，像淋上枫糖浆的鹅肝酱是行家所爱的美食。枫糖产品还有很多，如枫糖黄油、枫糖冻(它气味芳香，非常适合涂在烤面包上，加上一点奶酪则更佳)、硬糖、砂糖、加枫糖的芥末酱、枫糖果酱、棉花糖等等。
            </p>

            <h2>加拿大三文鱼制品</h2>

            <p>
              加拿大首趋一指闻名全球的水产品就是三文鱼salmon,也叫鲑鱼。众所周知，加拿大是三文鱼的故乡，单单就西海岸，每年就有上百万条三文鱼逆流而上，返回BC省的故乡产卵，再壮烈的死去，因此，三文鱼制品成为加拿大的一大特产。加拿大的特产鲑鱼产品可在各大城市的土特产店的渔品店买到，冬天是淡季。三文鱼有各式的熏制方法，自用的话可买半条，送人的话可买包装好的鲑鱼切片。贝类及鲍鱼的熏制品及昆布等都值得推荐。
            </p>

            <h2>奥特莱斯折扣中心</h2>
            <p>在北美居住过的朋友们应该都对奥特莱斯大型折扣购物中心这个词不陌生了吧？所谓的“奥特莱斯”购物中心，意思其实就是指由销售名牌过季，下架，断码商品的商店组成的一个大的购物中心，因此也被称为“品牌直销购物中心”既然是过季，下架，或者断码商品，那么其价格的低廉，可能就不需要再额外强调了。而加拿大和美国的奥特莱斯更是价格低的惊人，而且品牌多的吓人。千万不要觉得是过季，下架的商品就是过了时的，不好的商品，其实大家都知道，很多大牌子的商品在北美以及欧洲上架的比中国内地要早，所以很多中国旅客来到北美的奥特莱斯所选购的所谓的过季商品其实刚好是在中国内地地区的热销商品。北美奥特莱斯的规模大小不等，大的可达上百家品牌店，同时购物中心设有全方位购物指南中心以及午餐场所，旅客完全不需要担心会饿着肚子血拼。</p>

            <h2>加拿大本土著名品牌</h2>
            <h5>加拿大鹅Canada Goose</h5>
            <p>
              想必各位小伙伴们对风靡全球的加拿大羽绒服品牌加拿大鹅并不陌生，号称 “御寒神器”，也号称是这世界上最温暖的羽绒服， 可御寒零下 30 度的气候。 就连像 Moncler 这样精心走设计路线的羽绒服品牌，都被抢走了市场。那么它有多火呢？ Bloomberg Businessweek 的创始人说： “在许多地方，Canada Goose 的火热程度就好像是 10 年前的 LV 手袋 ”。这确实说明 Canada Goose的火热程度。
            </p>

            <p>
              简单介绍一下，Canada Goose (以下简称 CG) 的历史， CG 最早是在 1957 年成立的，创始人是一个名叫 Sam Tick 的波兰移民者，最早公司叫做 Metro Sportswear Ltd. 专注于冬季户外运动系列产品。 后来在 80 年代初， 由 Sam Tick 的女婿 David Reiss 接手，在 90 年代的时候改名字为 Canada Goose. 这个品牌真正的崛起是在 1997 年 David 的儿子 Dani Reiss， 也就是第三代的时候在 1997 年成为该公司的总裁兼 CEO。 在他接手之后公司的业绩从 2001 年的 300 万美元，增长到 2014 的 2 亿美金，公司的年销售以每年 400% 惊人的速度持续增长。 所以呀， 论打造一个好的品牌的重要性，也取决于能否培养出优秀的后代。
            </p>

            <h5>为什么这么火呢？</h5>
            <p>1.坚持 Made in Canada</p>
            <p>
              当很多公司都将自己的加工外包海外的时候 ， Canada Goose 还是坚持本土， 从材料，设计，裁剪到加工都在加拿大，而且据说诠释手工制作，所以人工贵。
            </p>

            <p>2. 采用最优质的材料</p>
            <p>作为加拿大国宝级的羽绒服，采用的是最优质的白鸭绒以及郊狼毛。注意，是鸭绒，虽然他们号称是 Goose ，但其采用的填充物其实是鸭绒，但是它们的产品的 Fill Power 能达到 625，通常的市场羽绒服标准是 600 － 900 之间，当然越高越好，但这还是不只是全部，它们还采用郊狼毛。</p>

            <h5>始祖鸟Arc’teryx</h5>
            <p>
              喜欢户外运动的朋友对始祖鸟这个名字一定不陌生，不，可以说是痴迷。不错，始祖鸟，便是创立于加拿大温哥华的世界第一户外运动品牌。Arc’teryx的前身叫RockSolid，由DaveLane和JeremyGuard创建，最早的产品是攀登装备，使用热压合技术设计和生产的Vapor安全带（Harness),该产品也成为Arc’teryx最流行的产品之一。公司运营的第二年，伴随公司的扩建，Arc’teryx推出了采用同样Vapor技术的Bora系列背包。1996年Arc’teryx获得了WLGore公司使用Gore-Tex织物的授权，开始生产其崭新的户外技术服装系列。Arc’teryx的名字和商标图案来自于人类所知最早的鸟类生物Archaeopteryx，即始祖鸟，图案形象基于1880年前后于柏林发现的“HMN1880柏林标本”（Berlinspecimen），迄今最完整的始祖鸟化石。因此Arc’teryx品牌中文一般称作“始祖鸟”，俗称“鸟”，“小鸟”，或“加拿大鸟”，以区别于另一个使用鸟类图案商标的美国品牌Osprey，美国鸟。对于Arc’teryx来说，最出彩的当然是她的服装系列，无论是hardshell还是softshell，几乎件件都可以用艺术品来形容，而且服装的功能完善，细节出色，给户外使用者充分的体验和完善的保护，让我们更接近大自然的挑战。从白雪皑皑的高山到细雨纷飞的草原，Arc’teryx都可以给你带来最快乐和本质的户外体验。再国内购买始祖鸟可谓是价格昂贵，那么在加拿大，大家便可以享受较比国内五折的优惠，还不赶快来抢购吧！
            </p>

            <h5>加拿大手工艺品</h5>
            <p>
              如果想选购一些礼品带回国给亲友家人，除了上述提到的以外，加拿大本土的手工艺品也是不错的选择。这些手工艺品包括当地原住民的各种图腾雕刻，大多为木制品，因此方便携带，不但形状唯美，而且极具加拿大当地风格。还有当地人纯手工编织的一些围巾，帽子，等等。通常这些礼品都可以在专门的礼品店里找到，种类层出不穷，让人眼花缭乱。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
