<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>特色风土人</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article1_path, class: "list-group-item" do %>
                  加拿大入境安全<span class="badge"></span>
                <% end %>
                <%= link_to article2_path, class: "list-group-item" do %>
                  加拿大签证办理<span class="badge"></span>
                <% end %>
                <%= link_to article3_path, class: "list-group-item" do %>
                  加拿大简介<span class="badge"></span>
                <% end %>
                <%= link_to article4_path, class: "list-group-item" do %>
                  旅游贴士<span class="badge"></span>
                <% end %>
                <%= link_to article6_path, class: "list-group-item" do %>
                  购物指南<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>特色风土人情</h2>
            <ul class="list-inline blogInfo" style="display:none;">
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Adam Smith</a></li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
              <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
            </ul>

            <p>
              加拿大是一个历史较短的国家, 所以特别重视对已有传统文化的发扬, 同时众所周知，加拿大又是世界前几名的移民国家，因此其他移民的文化也受到政府的鼓励和人们的喜爱。
            </p>

            <p>
              素有加拿大第一民族First Nation之称的印第安族Indian，又被称作土著人，有着独特的图腾崇拜的传统习裕，在加拿大西海岸的众多旅游胜地都有属于印第安族的图腾作品，例如为大家所熟知的温哥华斯坦利公园和UBC民俗馆，印第安人认为每个部落氏族都与某种动植物有着亲属关系，这种动植物即成为该氏族的图腾。图腾不但代表着一个部落氏族的标志，更被尊奉为该氏族的神明为大家所膜拜，因此图腾上所刻画的动物在该部落禁杀禁食，并且会受到严格的保护。 
            </p>

            <p>
              常见的图腾形象包括海狸﹑海狮﹑海狼﹑杀人鲸﹑狗鱼﹑三文鱼﹑比目鱼﹑老鹰﹑秃鹰﹑渡鸟﹑乌鸦﹑鸟﹑雷鸟﹑熊﹑狼﹑青蛙﹑蛇﹑铜头蛇等。
            </p>

            <p>
              除了膜拜图腾，印第安人还崇拜羽毛, 一年一度的羽毛节是他们的传统节日，也是最重要的节日之一。相传在很久以前有一只山鹰曾解救过他们的祖先，为了报答山鹰的救命之恩, 印第安人祖先将山鹰散落在地上的羽毛供奉起来，经过数代人的衍变，逐渐形成羽毛节。节日的庆典活动在在每年秋季举行, 持继数日，节日里男人们身着印第安传统勇士服，头插羽毛，游行狂欢，场面好不热闹。 
            </p>

            <p>
              在印第安众多氏族中，比较有特色值得一提的当属特林吉特人与克里人。特林吉特人又被称为“潮汐之人”，他们是在阿拉斯加东南部的温带雨林中发展出来的母系氏族，他们日常以捕鱼为生，狩猎为辅。特林吉特人平日里习惯在身上用颜色绘出各种图腾形象。他们居住的房屋为从外观上看是巨大的三角顶木极房，上面雕刻﹑彩绘了各种图案。房内通常摆放有很多松木箱用来储存食品和衣物，室内都会有一个平台既作为凳子又可以当床，房橼的架子和壁龛则用来摆放各种生活用具。
            </p>

            <p>
              印第安克里人早期居住在魁北克省詹姆士湾四周的林地间，为小家族形式群居，后迅速向西扩展，逐渐占领从魁北克直到太平洋附近山区间的土地。由于克里族人较早开始与英国人，法国人接触并开展了皮毛，火器，马匹的贸易，因此他们较比其他印第安氏族更加好斗。他们平日住在帐篷里，用黑﹑红色在帐篷绘出各种神象及梦中灵魂，并将其当作神灵供奉，彩绘帐篷退色後，他们会将帐篷烧掉以示对神灵的敬仰与膜拜。克里族男子耳戴巨大耳环, 耳环下吊着精工装饰, 男子皆梳长辫。 
            </p>

            <p>
              印第安人的婚礼具有浓郁的民族特色。通常婚礼都会选择在聚集区的公共建筑物中举行，这个公共建筑物相当于一个部落的社区，一般是一栋巨大的可容纳百人的木头房屋，婚礼当天，亲朋好友﹑左邻右舍和村庄居民都纷纷进入木屋，人们席地而座，互相问候，男女老少都身着鲜艳的民族服装。婚礼的主持人通常是部落的酋长和两位长老。当他们走进大厅时全体致意，酋长也会身着象徵身份的传统服饰，以示对婚礼的重视。而此时新郎新娘则身穿白色鹿皮服装跪座在酋长对面。随后仪式开始，酋长点燃蒿草，随着浓香青烟上升，酋长用本民族语言向神明祈祷，为新婚夫妇祝福，随后其左右的两位长老边说边唱, 祷告神明。最后酋长会点燃一根长管烟枪, 按一定仪式礼仪吸完後再传给新郎新娘和所有在场的人，此举象徵新人与部落其他人的和平友好。等所有人吸完烟後会有人端来一大桶汤羹，此时新郎新娘会先敬给酋长和长老一大碗，再分给在场的每一个人一碗。在喜宴结束後，酋长和长老先后离去。剩下的新人与宾客则来到一块空地上，伴随欢快的鼓乐，通宵达旦的跳起传统的太阳舞。
            </p>

            <p>
              除了印第安人外，加拿大另一个原驻名族则是因纽特人，便是大家熟知的爱斯基摩人。他们都居住在极远的北极地区，分布在阿拉斯加，西伯利亚，格陵兰的北极圈内外。因纽特人大多信奉万物有灵和萨满教，少量族人信奉基督教新教和天主教。同印第安人一样，因纽特人也属蒙古人种，其面部宽大，五官粗壮，但由于长期居住在极寒之地，体内蛋白质需要用来抵御严寒，因纽特人大多手脚短小。他们的居室极为独特，有石屋，木屋和雪屋，其中以雪屋最能抓住人们的视线，雪屋的基本构造是在平地上用雪砖垒成一个半球形屋顶，屋内挖一深坑，坑前开小窗。雪屋的门极低，成年人需要爬行才能钻进屋内，雪屋里藏有许多食物。因纽特人平日忙於狩猎，多在冬闲时进行婚配。值得一提的是他们至今仍旧保留着"抢亲"的古俗，青年男女以碰撞和摩擦鼻子的方式互表爱慕之情，男女定情后新郎伺机抢走新娘，如果抢婚成功，则婚姻关系确定。其婚礼形式与印第安人比起来异常简朴，新郎新娘叩拜家族长老﹑父母兄弟和朋友后，大伙一同享用简单的一餐，喝一碗鱼汤，纵情跳舞后，婚礼宣告结束，各自散去。
            </p>

            <p>
              随着十六十七世纪欧洲针对加拿大的殖民运动，加拿大的社会主导力量已经从原驻民逐渐转化为白种人，而社会体制也由原先的部落群居转变为现如今的文明社会。尽管加拿大一直以来都是一个引领大规模移民狂潮的国家，但是本土的白人仍旧占总人口的73.4%，这些白人多为英国与法国人的后裔，或者是混血的。白人的生活习俗与原住民存在着很大差异，他们大多数信奉基督教，与众多其他宗教的教义不同，人们信奉基督教的宗旨并不是祈求以主或神的力量去保佑自己，而是在信仰的过程中让自己慢慢接受眼前的一切，学会顺其自然的去相信所有自身的经历都是上帝最好的安排，从而使自己学会感恩与满足，活的更加快乐。
            </p>

            <p>
              现代城市青年的婚俗较比起古老原驻民也大有不同，由于加拿大寒冷天气持续时间较长, 婚礼多在6到9月份举行，7月为最盛期，婚礼时间大多数选在星期六这一天。人们通常在婚礼前几个月选购结婚用品；繁忙季节结婚教堂时间也需要事先预约, 结婚时教堂﹑宴会厅和新房都要用一些鲜花精心装饰；婚礼之日彩车载着新人来到教堂，教堂里乐声悠扬，宾客欢呼鼓掌并抛撒手中的花瓣为新人祝福；新郎新娘互赠刻有姓氏字母和结婚日期的结婚戒指，双方视婚戒为最珍贵的物品，永久纪念；婚礼结束后乘彩车顺着繁华街道走一圈，再到到风景优美或有纪念意义的地方摄影留念；晚上则依照个人喜好举行新婚宴会，先是非正式的酒会，接着是正式的冷餐和热餐，气氛热烈，场面隆重；最后有条件的新婚夫妇通常会外出度蜜月，远的到加勒比海诸岛和美国佛罗里达阳光地带度假， 近的到魁北克，洛矶山或大湖区旅游。
            </p>

            <p>
              加拿大每年最盛大的节日莫过于圣诞节和万圣节(又称鬼节)。圣诞节是每年的12月24日和人12月25日，形式类似于中国的新春佳节，一般持续一个星期左右，节庆期间，家家张灯结彩，亲友团聚，围坐在宽敞的饭桌前祷告并享受美味的一餐，互相谈论过去一年发生的值得纪念的事情等等，气氛好不融洽。而万圣节，则是相当有意思的节日，它是早期欧州移民从爱尔兰带来的，为每年的11月1日，在这一天的晚上，两三岁到十几岁的儿童成群结队的挨家挨户的拍门讨要糖果。一边敲门一边说"Trick or treat"(不给糖, 就捣乱)。大多数儿童都会在父母的陪同下化妆成妖魔鬼怪，每家则在门前摆上南瓜灯笼，装饰各种各样的妖怪和地狱场面，有的家庭想出各种奇怪的设计，大有不惊人誓不休的劲头。当小孩上门讨糖时往往会作出各种恐怖动作，有时吓得小孩哇哇直叫，所以小朋友还需要足够的胆量，因此万圣节成了小孩最开心的民间节日。与此同时，对于成年人来说，万圣节当夜更是一年之中的狂欢之夜，无论是大学或者是城市社区，都会在这一天举办不同规模的万圣节派对，人们纷纷化妆成各种妖魔鬼怪，在一起饮酒，跳舞，狂欢，不亦乐乎。 
            </p>

            <p>
              加拿大本地人都喜欢园艺活动，走进社区，便会发现每家每户的房前屋后花园都整修得整整齐齐﹑漂漂亮亮，看上去都不逊色于专业水平。他们勤剪草﹑勤修枝, 不随便砍伐树木。由于这种园艺文化根深蒂固的存在于加拿大人的心中，因此每个社区的居民都热心园艺, 大街小巷看上去都像是美丽的花园，真正的百花齐放﹑万紫千红，令人赏心悦目。
            </p>

            <p>
              现代加拿大人的业余爱好广泛，尤其是各种户外运动，更是他们的最爱，例如登山，远足，游船，钓鱼，宿营，打猎，独木舟，冲浪，漂流以及驾驶房车自驾游等等，在众多喜欢业余爱好中，他们格外钟情于野外宿营，每到旅游度家季节或长周末，都会有成群结队的人们驱车或者远足到旅游地安营扎寨。值得一提的是，简答的野营设备都非常先进，有的用野外帐篷, 有的是带有凉台的平房﹑装配有活动房屋的旅行汽车，而安全设施更是滴水不流。这种野外露营可以使人们在难得的周末或节假日远离城市的喧嚣，尽情拥抱大自然，欣赏原生态的美景，简直是一种名副其实的享受。
            </p>

            <p>
              类似于中国人，加拿大人也偶尔有迷信的时候，例如在家用吃饭时不能说悲伤﹑死亡及与性生活有关的事；在家不能吹口哨，认为那样会呼唤死神；日常生活尽量避免在楼梯下行走，不要把盐弄撒，也不要把玻璃物品打碎，否则不吉利；有些地区小孩出生时要撒圣水，代表是上帝给孩子赋予的生命，否则孩子可能会招来祸事等的。同时孩子到11岁要向上帝宣誓，成长才能一帆风顺。 
            </p>

            <p>
              枫树是加拿大国树，枫叶是加拿大国花。遍布全国的枫树中以糖枫和黑枫最为著名，也因此枫糖成为加拿大最著名的特产之一，每年三月举办的枫糖节是也加拿大的重要节日。 
            </p>

            <p>
              加拿大人日常的饮食以肉类、蔬菜为主，面食、米饭为辅。喜欢吃牛肉、鸡等肉食，特别喜欢吃沙丁鱼和野味。喜欢生吃蔬菜，主要有西红柿、芹菜、菜花、 洋葱、土豆、黄瓜等；加拿大人口味清淡，偏甜酸，不喜欢太咸，一日三餐讲究包含营养、新鲜，通常烹调方式有煎、烤、炸等，喜欢酥脆食物；喜欢吃煎牛排、煎羊排、炸鱼 虾、糖醋鱼、咕噜肉等，忌食动物内脏和脚爪，很少吃辛辣食品；同中国人一样，加拿大人也酷爱饮酒，喜爱白兰地、香槟、啤酒、金酒威士忌苏打、葡萄洒、蜜酒等，只是不同于中国的酒桌文化，他们饮酒讲究慢慢饮，也很少会过量，不为喝倒，只为放松；他们也常饮用水果汁、可口可乐等饮料；喜欢吃柠檬、荔枝、香蕉、苹果、梨等水果，喜欢吃松子、葡萄干、花生米等干果。加拿大人的一日三餐中，早餐比较简单，主要吃烤面包、鸡蛋、咸肉、牛奶、果汁、 素片粥、玉米片粥等。午餐带饭或用快餐，也比较简单，一般有三明治、饮料、水果。晚餐为正餐，比较丰盛，主食为鸡、牛肉、鱼、猪排，辅以土豆、胡萝卜、豆 角、面包、牛奶、饮料等。上午十时和下午三时用点心，吃苹果馅饼、香桃馅饼等。加拿大的快餐业发展很快，种类很多，如热狗、意大利馅饼（披萨）、汉堡包、希腊肉肠、美国炸鸡、墨西哥玉米面卷、中国份饭等。加拿大也喜欢吃我国的江苏菜、上海菜、山东菜。
            </p>

            <p>
              加拿大人平日里的衣着与中国人并无两样，只是他们对不同场合的着装要求更加严格。例如在非正式场合，他们穿着随意，常着夹衫、圆领衫、便装裤等；在正式场合，如上班、上教堂、 观看表演、赴宴等，他们着装整洁、讲究。男子穿西装，女子穿裙服。女子服装不太讲究面料，但讲究款式新颖、颜色协调、舒适方便。由于加拿大人性情随意，不拘小节，因此他们选购服装时很少看重衣服的牌子，只要经济实用便好。
            </p>

            <p>
              加拿大人大多性格朴实、随和、友善、且热情好客。见面一般都会握手或拥抱致意，不像美国人那么随便，分手时也行握手礼。介绍礼节，是将男士介绍给女士，将年轻人介绍给年长者，将职位低者介绍给职位高者。熟人相见，直呼其名。握手时，女士、年长者、职位高者先伸出手。交谈要选择众人共同关心的话 题，喜欢谈加拿大经济文化发展、天气、体育、旅游、风俗等话题。不能询问年龄、收入、家庭状况、婚姻状况、女士体重等私人生活问题，同时加拿大人不喜欢别人把自己和美国人归为一谈，尽管双方距离很近，但是文化上还是存在着些许差异，人们通常不谈政治、世族、宗教、语言、魁北克法语区等社会敏感问题。加拿大众多文化中，最不同于中国文化的，便是他们对年龄的概念，在加拿大，年长者并不一定会一味地收到人们的尊敬，在一个集体中，无论是年轻人还是年长者，都是平等的关系，不存在年轻人在某些事情的决策上一定要听从年长者的情况，谁的意见被公认为是最妥善的，大家便都会按照他的方式进行。加拿大人在公众场合时，十分注重文明礼貌，观看表演要提前入座，中途很少走动。在公共场所不可大声喧 哗、乱扔废弃物。在公共交通工具上，要主动给老人、儿童让座，上车要排队。 
            </p>

            <p>
              加拿大人时间观念较弱，约会通常会有迟到的现象，因为加拿大人的生活是十分慢节奏的。公务约会一般在餐馆，执行会一般在饭店、俱乐部举办。送礼应有目的，不随便送礼。生日、结婚、 分别等都要送礼。讲究礼品包装，一般用彩色礼品纸包裹，扎彩带，装饰彩花，礼品上附有签名贺卡。接受礼品者应当面打开并致谢。加拿大人常以家宴款待客人。 上门作客不能提早到达；作客时应随带一瓶酒、一盒糖、一束鲜花等礼物，或送给女主人和孩子一些小礼物。作为礼物的酒，要在宴请时即用。家宴一般是冷餐会， 饮食放在桌上，各人自取，座位自选，或站着进餐，边吃边谈。第二天，客人应写信给女主人，表示感谢。晚上作客不宜久留，一般在10时前告辞，周末在11时 30分前告辞。
            </p>

            <p>
              加拿大的节日比较多。1月1日是元旦，除夕夜举行欢庆活动。他们将白雪作为吉祥物，堆放在住宅四周，筑成雪墙，认为这样可以阻挡妖魔。2月上旬 至中旬有狂欢节，庆祝活动持续10天，是魁北克省居民最盛大的节日，具有法兰西色彩。他们用白雪筑城堡，戴着红缨小绒帽，扎着红、绿、白三色腰巾，载歌载 舞，选举"狂欢节王"和"狂欢节女王"，然后乘坐彩车游行，举行各种冰上体育比赛。3至4月举行枫糖节，这是加拿大特有的节庆，人们欢歌曼舞，品尝枫糖糕和太妃糖。
            </p>

            <p>
              加拿大人忌讳数字13和星期五。遵循《圣经》中的摩西十诫，对圣人圣事不直呼其名。人从楼梯下走过，忌打破玻璃制品，忌打翻盐罐。忌说"老" 字，养老院称"保育院"，老人称"高龄公民"。白色百合花用于丧礼，不能用作一般礼品。在家不吹口哨，不讲不吉利的事情，吃饭时不谈悲伤的事。忌食动物内 脏和肥肉。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
