<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>加拿大简介</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article1_path, class: "list-group-item" do %>
                  加拿大入境安全<span class="badge"></span>
                <% end %>
                <%= link_to article2_path, class: "list-group-item" do %>
                  加拿大签证办理<span class="badge"></span>
                <% end %>
                <%= link_to article4_path, class: "list-group-item" do %>
                  旅游贴士<span class="badge"></span>
                <% end %>
                <%= link_to article5_path, class: "list-group-item" do %>
                  特色风土人情<span class="badge"></span>
                <% end %>
                <%= link_to article6_path, class: "list-group-item" do %>
                  购物指南<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>加拿大简介</h2>
            <ul class="list-inline blogInfo" style="display:none;">
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Adam Smith</a></li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
              <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
            </ul>
            <p>
              加拿大Canada，位于北美洲的最北面，西抵太平洋，冬至大西洋，北靠北冰洋，领土范围直至北极。它的东北方与丹麦领地格陵兰相望，东部与法属领地圣皮埃尔和密克隆群岛相邻，南方及西北方则与美国接壤。加拿大的领土面积达998万平方公里，为全球总面积第二大的国家，仅次于俄罗斯，国土大部分位于北极圈之内，而其内陆总面积则位于全球第四位，其他三位依次为俄罗斯，中国和美国。尽管坐拥世界第二大的疆土，但是加拿大的人口密度却非常低，据2015年统计，加拿大共有人口3500万，因此从国土面积上来计算，平均一平方公里仅仅居住3.5个人。尽管如此，加拿大却是一个高度发达的资本主义国家，其富饶的自然资源和高度发达的科技使其成为世界上拥有最高生活品质，社会最富裕，经济最发达的国家之一，同时也是世界最大的钻石出产国之一。另一方面，加拿大在教育方面取得的成就，政府的透明度，社会自由度，经济自由度，及国民总体素质的国际排名更是名列前茅。同时，加拿大也是G8，G20，北约，世界贸易组织等国际性重要组织的成员国。
            </p>
            <h5>历史</h5>
            <p>
              加拿大的历史可追溯到33,000年前，最早移居到北美洲的原住民由印第安人和因纽特人组成。依据考古资料显示，加拿大育空地区早在公元24,500年前，即有人类活动，而公元前7,500年则显示有南安大略的人类活动遗迹。旧克罗平地和蓝鱼洞穴的印地安人遗迹，是加拿大境内最古老的人类聚居点。加拿大原住民的特点包括：成立永久居住点、从事农耕、复杂的社会等级，以及贸易网络等。一部分部落在欧洲人抵达后已告瓦解，如今只能通过考古作研究。据估计，加拿大原住民人口在15世纪晚期，约在20万到200万之间。由于缺乏相应的免疫系统，加拿大原住民被欧洲人带来的传染病袭击，造成约40%-80%人口锐减。今日剩下的原住民，包括第一民族、因纽特人、梅蒂人，其中梅蒂人是原住民和法裔加拿大人的混血后代，在这三大民族中，因纽特人和欧洲殖民人的交流较少，因为他们长期居住在最靠近北极的努纳武特地区。而最早踏足北美洲的欧洲人则是北欧的斯堪地纳维亚人，又称维京人，他们在大约公元986年在位于现今的加拿大纽芬兰省份区域短暂居住了一段时间，直到十六和十七世纪才有英国人和法国人到北美永久定居下来。
            </p>
            <p>
              400年前英国和法国的探险家为了寻找通往“东方”新“丝稠之路”，纷纷向北美洲来探险。虽然探险家没有发现航向中国和印度的新路线，但是他们在加拿大发现了诸如富饶的渔场和数量惊人的海狸、狐狸和熊等许多具有价值的东西。英国人和法国人一直到17世纪初才开始正式在加拿大定居。虽然越来越多的定居者带动了经济的发展，但在政治和军事上则仍然依赖着法国和英国。18世纪巴黎条约把密西西比河以东的法国领地割让给了英国。在英国的统治下，法裔居民有了一个共同的目标，即保存其传统、语言和文化。英国人于1774年通过了魁北克法案，正式承认了法裔居民法，确保这些居民的宗教和语言自由。1776年美国独立后，大批说英语的移民涌入加拿大。这些效忠大英帝国的保皇主义分子希望能在加拿大寻求庇护。1791年人口的持续增长致使安大略省和魁北克省建立。这两个行政区都有各自的统治机构。1848年两地都被授于了除外交之外的统治权。尽管加拿大不断地取得了自治权，但依然是大英帝国的一部分。美国在南北战争后的更为强大，使得一些政治家意识到，所有的英国殖民地只有联合起来才能抵御美国可能的侵略。在1867年7月1日，依据英国的北美法案，东加拿大、西加拿大、新斯科舍和新不伦瑞克共同组成了加拿大联邦。这个新国家的政府制度基本为英国的国会制度、总督为王室代表、国会由参、众议院组成。国会有权对有关国家利益的事务进行立法，而各省则有权对有关公民利益的事务进行立法。
            </p>
            <p>
              联邦成立后，加拿大开始逐渐成长为一个国家。一个省接着一个省出现在了加拿大地图上。同时，移民日益增多。加拿大在第一次世界大战中所起的重要作用使其在战后的国际联盟中建立起了有别于英国的独立形象。第二次世界大战中，加拿大作为同盟国的一员，在军需的供给上扮演重要角色，从而刺激了国内经济的复苏，在战后成为了世界工业强国之一。
            </p>
            <p>
              第二次世界大战后，加拿大的经济持续扩张。经济的发展，加上政府的社会福利制度，诸如家庭补贴、老年津贴、全民医疗保险和失业保险等给加拿大人带来了高标准、高质量的生活。加拿大的移民潮也有了显著变化。二战前，大多数的移民来自不列颠群岛或东欧。1945年后，越来越多的移民来自南欧、亚洲、南美和加勒比海群岛，这也丰富了加拿大的多元文化。
            </p>
            <p>
              近二十多年来，加拿大人再次面临了国家国体的一些根本问题。在1980年和1995年，多数法裔魁北克人投票反对有关魁北克拥有更多政治自主权的决议，在这两次公民投票表决中，多数人仍希望保持国家的完整。由英、法两个一直是对立的民族所创建，融合了多种外来文化、语言和宗教，以及原先的土著居民，加之本身地理环境的多样性，加拿大注定成为一个折中的国家。求同存异是加拿大的座右铭。温和与容忍是加拿大联邦的特色，也是其得以生存的基础。
            </p>
            <h5>政体</h5>
            <p>
              加拿大政治体制为联邦制、君主立宪制及议会制，英王伊丽莎白二世为国家元首及国家象征，但无实际权力。政府属于内阁制，由众议院中占多数席位的政党领袖出任总理并组阁。1867年建立联邦以来，基本上由自由党和进步保守党轮流执政。
            </p>
            <h5>政党</h5>
            <p>
              自由党（Liberal Party）：执政党。1873年成立。代表工业垄断资本集团利益并兼顾中、小企业利益。领袖：贾斯廷·特鲁多。
            </p>
            <p>
              保守党（Conservative Party）：正式反对党，加右翼政党。由联盟和进步保守党于2003年12月合并而成，代表银行保险业、铁路运输业、能源工业垄断资本和大农场主利益。领袖：斯蒂芬·哈珀。
            </p>
            <p>
              新民主党（New Democratic Party）：反对党。1961年由“平民合作联盟”与“加拿大劳工大会”联合而成。属于社会民主党性质，代表中下劳动阶层利益，主张企业公营，标榜社会主义。领袖为唐民凯（Thomas Mulcair）。
            </p>
            <p>
              魁北克集团（Bloc Quebecois）：反对党。1990年成立。代表魁北克人的利益，主张魁北克独立。领袖丹尼尔·帕耶（Daniel Paillé）。
            </p>
            <h5>司法</h5>
            <p>
              加拿大设联邦、省和地方（一般指市）三级法院。联邦法院一般受理财政、海事和有关经济方面的案件。最高法院由1名大法官和8名陪审法官组成，主要仲裁联邦和各省上诉的重大政治、法律、有关宪法问题以及重大民事和刑事案件。最高法院的裁决为终审裁决。
            </p>
            <h5>行政区划</h5>
            <p>
              加拿大由十个省份和三大地区组成，分别为邻近太平洋西海岸的卑诗省BC，平原三省的阿尔伯塔Alberta，萨斯喀彻Saskatchewan，曼尼托巴Manitoba，东部的安大略Ontario，魁北克Quebec, 海洋四省的新布朗斯维克New Brunswick，新斯科舍Nova Scotia，纽芬兰Newfoundland，爱德华王子岛Prince Edward Island，以及三大地区的育空，西北，努纳武特。
            </p>
            <p>
              其中加拿大的首都渥太华Ottawa则地处安大略省东南部与魁北克省的交界处，最大最繁华的城市是多伦多市Toronto，人口为5,813,149，也是位于安大略省，而最为人们所熟知的移民城市温哥华Vancouver位于卑诗省最西面，紧靠大西洋。温哥华曾多次被评为世界最适宜居住城市。其他著名城市还有位于阿尔伯塔省的卡尔加里Calgary，魁北克的首府蒙特利尔Montreal，温尼伯Winnipeg，汉密尔顿Hamilton，卑诗省省会维多利亚Victoria等等。
            </p>
            <h5>外交政策</h5>
            <p>
              加拿大政府曾于1995年对其对外政策进行系统审议，将促进繁荣和就业、在稳定的全球框架内保护加拿大的安全、弘扬加拿大的价值观和文化作为其对外政策三大目标。于2005年4月19日发表了题为《在世界上扮演令人骄傲和有影响力角色》的“对外政策声明”，系统阐述其对外政策。声明的主要内容有：承诺加大外交投入，整合各种资源，确立跨部门总体外交概念；到2010年将官方发展援助总额增加至50亿加元，比2001年翻一番，将受援国数量大幅缩减至25个最不发达国家，提高援外款使用效率和影响。在对美关系上，强调进一步加强加美伙伴关系，在经济安全领域密切与美合作。声明认为，中、印、巴西等发展中大国崛起对世界经济产生了重要影响。加将致力于与其建立双向、长期和规范化的合作机制，希望借助中、印实现加经贸关系多元化。中国将成为21世纪最重要的经济大国。加将在现有基础上，不断发掘新的合作渠道，包括积极探索商签自由贸易协定等方式，进一步发展与中国的政治、经济关系。
            </p>
            <h5>同中国的关系</h5>
            <p>
              中加两国人民的友谊源远流长。据历史记载，加拿大和中国的贸易往来始于1780年，到了18世纪末，广州的丝绸、杭州的茶叶和景德镇的瓷器就远销加拿大，不列颠哥伦比亚的皮毛和木材也运销中国。中国民主革命的先驱孙中山先生曾三次到过加拿大的温哥华。加拿大援助中国抗日的伟大国际主义战士白求恩大夫率领医疗队于1938年来到中国的抗日斗争前线，为中国人民的解放事业贡献了自己宝贵的生命。自1970年10月13日，中加两国建交以来。双边关系发展顺利，友好交流频繁，经贸发展迅速。2003年10月，加拿大总理克雷蒂安应邀对中国进行正式访问。2003年12月，温家宝总理对加拿大进行正式访问。2005年1月，加拿大总理马丁对中国进行正式访问，两国发表联合声明。
            </p>
            <h5>货币</h5>
            <p>
              加拿大所使用的货币为加币，自1858年起使用，通常以$，C$，CDN等符号表示。2017年与人民币的汇率大概是1:5.3。
            </p>
            <h5>语言</h5>
            <p>
              加拿大为双语种国家，其官方语言分为英语和法语，其中魁北克省份地区的首选语言是法语。
            </p>
            <h5>民族</h5>
            <p>
              加拿大是典型的移民国家，而且由于人口稀少，人口数和民族构成每一年都在不断变化中。根据2006年人口普查，加拿大最大的种族为加拿大人，占全国人口的32%，其次为英裔加拿大人（21%），法裔加拿大人（15.8%），苏格兰裔加拿大人（15.1%），爱尔兰裔加拿大人（13.9%），德裔加拿大人（10.2%），意大利裔加拿大人（4.6%），华裔加拿大人（4.3%），第一民族（4.0%），乌克兰裔加拿大人（3.9%）和荷兰裔加拿大人（3.3%）。大约有600个族群被政府认定为第一民族。
            </p>
            <h5>国宝</h5>
            <p>
              河狸，又称海狸，是啮齿目中最大的中型水陆两栖兽类。
            </p>
            <h5>国树</h5>
            <p>
              枫树，加拿大素有“枫叶之国”的美誉。加拿大各省都有省花，有的还有省树，唯独没确定国花和国树。事实上，枫树、枫叶已被加拿大人民视为国树、国花来珍爱，已成为加拿大国家、民族的象征。
            </p>
            <h5>国球</h5>
            <p>
              冰球。现代冰球运动在加拿大发展起来，加拿大冰球运动员的数量在世界上排名第一。这是一种激烈而且极易受伤的体育运动，一般参与者要带上头盔。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
