<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>旅游贴士</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article1_path, class: "list-group-item" do %>
                  加拿大入境安全<span class="badge"></span>
                <% end %>
                <%= link_to article2_path, class: "list-group-item" do %>
                  加拿大签证办理<span class="badge"></span>
                <% end %>
                <%= link_to article3_path, class: "list-group-item" do %>
                  加拿大简介<span class="badge"></span>
                <% end %>
                <%= link_to article5_path, class: "list-group-item" do %>
                  特色风土人情<span class="badge"></span>
                <% end %>
                <%= link_to article6_path, class: "list-group-item" do %>
                  购物指南<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>出入境需知</h2>

            <h5>加拿大海关禁止与限制入境的物品</h5>
            <p>
              加拿大法律规定，无论是陆路、水路还是航空，入境旅客必须在到达时向海关关员申报所携带的所有农业产品。除来自美国的室内盆栽植物外，其余植物入境加拿大必须事先获得许可。 请登陆加拿大食品检验署网站 查询相关信息。
手枪、钉头锤和胡椒喷雾等武器禁止入境加拿大。此外，来自其他国家的某些水果、蔬菜、蜂蜜、鸡蛋、肉类、奶制品和植物也不能入境加拿大。更多信息请查询加拿大边境服务署网站 www.cbsa-asfc.gc.ca/menu-eng.html
            </p>

            <h5>宠物</h5>
            <p>关于宠物，所有动物入境加拿大都需兽医检疫。有关动物检疫的更多信息，请登录加拿大食品检验署网站，若动物被检疫确认或怀疑染病，可能会被拒绝入境。</p>

            <h5>礼品</h5>
            <p>携带单价在60加币以下的礼品进入加拿大时，游客可以免关税和税收。60加币以上的礼品需对超出部分金额征收关税。酒精饮料、烟草产品与宣传材料不属于礼品范畴。</p>

            <h5>酒精和烟草</h5>
            <p>在符合加拿大各省或地区年龄规定(如下)的前提下，您可以携带有限数量的酒精饮料入境加拿大。您必须与您携带的酒精饮料一同到达。艾伯塔省、马尼托巴省和魁北克省规定可以携带酒精饮料的年龄是18岁，育空地区、西北地区、努纳武特地区、不列颠哥伦比亚省、萨斯喀彻温省、安大略省、新斯科舍省、新不伦瑞克省、爱德华王子岛省、纽芬兰和拉布拉多省是19岁。您只可以免税携带一种下列规定数量的酒类产品入境：53盎司的葡萄酒、40盎司的烈性酒、总共40盎司的葡萄酒与烈性酒，或24×12盎司听装或瓶装啤酒或浓啤酒。</p>

            <h5>您可以免税携带下列物品进入加拿大</h5>
            <p>200支香烟、50支雪茄或小雪茄、7盎司制成烟草或200支烟杆。有关携带酒类或烟草入境加拿大的更多信息，请登录加拿大边境服务署网站 查询。</p>


            <h5>Tips:特别提醒</h5>
            <ol class="normal_list">
              <li>
                中国出境每人可携带人民币2万元，美金5000(或其他外币相等于美金5000元)，贵重物品需向海关申报；
              </li>
              <li>
                如果携带了手提电脑、摄像机、可变焦照相机等电子设备，都必须向海关申报；
              </li>
              <li>
                在出境前，应该把护照、机票和行程安排的资料复印几份，其中一套随身携带，一套留在家中，以便意外时查询；
              </li>
              <li>
                在美国911事件以后，各国在安全检查时都非常严格，X光设备增加了强度，所以请不要在托运行李中放胶卷，否则胶卷会曝光。
              </li>
            </ol>


            <h2>旅游季节</h2>
            <h5>春季</h5>
            <p>西海岸2月下旬就进入春天，其余地方会在4月初逐渐回暖。舒适的春天通常一直持续到6月。若您想乘坐狗拉雪橇、在近海荡舟划桨或者在怒放的樱花林中漫步，不列颠哥伦比亚省会是您的最佳选择。</p>
            <h5>夏季</h5>
            <p>五月下旬至九月下旬加拿大各地进入夏季。炎热的夏季通常从6月持续至9月，7月是一年中最热的月份。夏季是一年中最好的季节，您可以去荒野旅馆露营，在平静如镜的水中垂钓，到马尼托巴省的邱吉尔与白鲸一起泛舟，或者参加著名的卡尔加里牛仔节，体验西部狂野热情。值得注意的是，加拿大早晚温差比较大，即便是炎炎夏日，部分地区早晚温差可达20摄氏度，因此，旅客切记要随时携带若干件厚的外套保暖。</p>
            <h5>秋季</h5>
            <p>秋季凉爽宜人，特别是9月和10月。秋季的最佳活动是在加拿大东部观看枫叶，远足呼吸新鲜空气，参观著名的博物馆和美术馆，或者参加多伦多国际电影节。</p>
            <h5>冬季</h5>
            <p>加拿大从10月下旬进入冬季，温度一般都在零度以下，大部分地方都是白雪皑皑。但西海岸冬季天气较温暖，即使偶有下雪，时间也极短，高尔夫球手全年都可以活动。冬季的加拿大是滑雪胜地。东部的滑雪季节从12月至次年3月末，西部山丘地带则延至5月底(有时候甚至延至6月)。加拿大有各种冬季节日和冰雪嘉年华，而且您还有机会体验全球最大的溜冰场里多运河(Rideau Canal)。</p>

            <h2>货币</h2>
            <p>加拿大的货币分为元和分。硬币有六种不同面值：1分、5分、1毛、2毛5、1元和2元。硬币的一面亦印有对加拿大人具有特殊意义的图像。例如：1元硬币印有一只潜鸟，1分硬币则印有两片枫叶。1分（1 cent）硬币已经停止使用，但是商品价格上仍会出现除5分以外的数字。因此，如果支付现金，0.02及以下归为0，0.03及以上归为5，0.06、0.07归为0.05，0.08、0.09归为0.1；如果刷卡，则和实际价格一样。</p>
            <p>加币所有纸币大小相同，但每张纸币颜色不同。最常见的纸币面值包括5元(蓝色)、10元(紫色)、20元(绿色)、50元(红色)、100元(棕色和紫色)。加拿大与英国有着密切的历史联系，而且是英联邦组织的成员国。自1908年，加拿大货币上一直印有英国君主的肖像，如今的肖像是英女王伊丽莎白二世。</p>
            <p>最好在出发前事先兑换好货币。而到达加拿大后，也可在正规的金融机构、银行、信托公司或外汇兑换处兑换货币。有的商店、酒店和餐厅也可兑换外汇，方便需要兑换小额货币的旅客，大型酒店的汇率通常与银行接近。许多商户，特别是大城市中心，也接受美元，但您要支付兑换率附加费。</p>

            <h2>银联卡</h2>

            <p>中国银联于2009年开通了银联卡在加拿大商户及ATM的使用受理。目前，共1.6万台ATM可接受银联卡提取加币现金，包括CIBC加拿大帝国商业银行的3,800多台ATM(已安装中文界面)、ATM运营商Open Solutions 2,800台及Calypso 4,000台ATM。其中，CIBC加拿大帝国商业银行的ATM遍布全境，在多伦多、温哥华、卡尔加里、蒙特利尔等主要城市分布集中。花旗银行的ATM除可接受银联卡取现之外还能进行余额查询。在加拿大开通的一些银联卡POS刷卡消费商户主要包括多伦多、温哥华两地的机场免税店、餐饮、购物等。</p>
            <p>当地银联服务热线：1 877 470 6287</p>


            <h2>信用卡</h2>
            <p>多数商户和零售商都接受信用卡付账。一些购物，特别是大额购物，可以更简便及安全地以这些非现金方式完成。主要的信用卡如VISA、万事达Master和美国运通AE在加拿大境内被广泛接受。有些商家不接受没有芯片的信用卡。绝大多数的商家，对于境外信用卡，只需要签字。不过现在需要输入密码开始逐渐取代。</p>

            <h2>小费</h2>
            <p>加拿大有给小费的习惯。加拿大的餐厅帐单通常不包括小费或服务费，但小费在服务员的收入中要占相当大的比例。有些餐厅对于大额消费会强制征收服务费。一般而言，小费是总消费金额的15%至20%。部分中餐馆会算好小费收钱，买单时要看一下，不要给重了。</p>
            <p>理发师、发型师和出租车司机的小费通常是15%。酒店、机场和火车站侍应生、门童、行李员等的小费是每件行李1至2加币。加拿大的酒吧和夜总会客人通常会分别给吧台和桌边的服务生小费。在加拿大旅游，导游的小费有时并没有事先计算在团费之中的，需要另行与导游当面结算，通常为每人每天8-10加币不等。</p>

            <h2>退税及购买税</h2>
            <p>加拿大目前并不提供旅游者退税服务。</p>
            <p>在加拿大，购买应税商品和服务需要付出联邦税(GST)和省购物税(PST)，有的省份单独执行统一销售税(HST)。具体情况如下：</p>
            <p>艾伯塔省只征收5%的GST；魁北克省征收5%的GST和8.5%的PST(其中8.5%的PST将于2012年1月上调为9.5%)。安大略省征收13%的HST、不列颠哥伦比亚省征收5%的GST和7%的PST。纽芬兰省和拉布拉多省、新不伦瑞克省征收13%的HST；新斯科舍省征收15%的HST。其他省份征收5%的GST和5-10%的省购物税。部分酒店和商场把GST或HST合并在价格中收取。
另外，在魁北克省购买的商品及服务还要加收7.5%的省税。</p>

            <h2>通讯</h2>

            <p>加拿大除了在机场、火车站和汽车站，很少地方有投币或者信用卡公共电话。如果没有办漫游，可以去比较大的几间电信公司(Rogers、Telus、Bell)购买预付的SIM卡。如果要频繁地往国内打电话，最好去超市或便利店购买长途电话卡，比较受欢迎的Asian One花5加币就能打300分钟。</p>

            <h2>网络</h2>
            <p>在加拿大旅游，您仍然可以通过电子邮件或者上网联系。加拿大多数城市都有网吧和咖啡馆提供无线上网服务。酒店一般也为客人提供有线与无线上网服务，图书馆可以在有限的时间内免费上网。但旅游巴士中极少有提供上网服务。</p>

            <h2>邮政</h2>
            <p>加拿大各地社区均有邮局。许多药店、便利店和商场也设有邮寄服务处。</p>
            <p>加拿大邮政(Canada Post)有三种类型的邮票，一种是Domestic，用于邮寄加拿大国内，对于一般平信如明信片邮资为0.85加拿大元；一种是USA，即邮寄往美国，一张邮票面值1.2加拿大元；最后一种是International，就是寄往其他国家，包括寄往中国，一张邮票面值2.5加拿大元(此价格需要再附加消费税)。</p>

            <h2>医疗</h2>
            <h5>医疗保险</h5>
            <p>出发之前，请先查看您的保险是否已经覆盖境外旅游。若没有覆盖，请务必在前往加拿大前购买旅游医疗保险。出行时，请随身携带您的保险单号和紧急联系号码。</p>

            <h5>加拿大医院与医疗服务机构</h5>
            <p>加拿大医院与医疗服务机构为您提供优质服务。加拿大多数医院均由政府管理，服务费用由各省或医院管理机构制定。非加拿大公民的医疗服务按每日价格收费，或者根据医疗条件与医治时间来计算。各地医疗费用不同，但平均在每日1,000至2,000加币的范围内。 医院急诊病房24小时开放。多数城市均设有社区诊所，非急诊病人可无需预约前往就医或咨询。各诊所的费用标准不同，请在黄页的"医疗，诊所"栏目里查询各诊所的电话。有关加拿大游客的医疗与安全的更多信息，请登录投资加拿大网站。</p>

            <h5>处方与药房</h5>
            <p>请随身携带您在旅游期间需要的所有处方药，以及处方复印件以备不时之需。加拿大随处都可以找到药店。多数大城市至少有一家24小时开放的药店，许多杂货店也在店内设有售药柜台。 所有处方药都应保存在原始的包装里，上面贴有注明药品类型和正在使用的处方。若您没有携带原始包装，请携带处方复印件或您的医生开具的证明。 另外，您也可以携带备用眼镜或隐形眼镜，或者您的眼科医生开具的处方，以防您需要新的眼镜或隐形眼镜。</p>


            <h2>自驾</h2>
            <p>整个加拿大基本是由横加高速路（Trans-Canada Highway）分支连起来的，由于公路归每个省份自行管理，所以尽管是高速路，有些地方可能也就两条道路。并且加拿大很多省份山路崎岖，冬季漫长，所以冬季一定使用雪胎。由于加拿大很多城市是靠近边境的，所以有条件的游客可以考虑从美国入境到目的地。但是如果选择自驾游玩加拿大，横加高速路还是不错的选择。</p>

            <h2>驾照</h2>
            <p>加拿大的驾照是各个省份自行颁发的，但是中国游客使用中国驾照公证翻译件可以短期内在加拿大开车，加拿大每个省时间要求不同。</p>

            <h2>交通规则</h2>
            <p>地面上的菱形代表的是公车专用道或者是共乘车道。如果是共乘车道，车上要在规定的人数或者以上时才可以使用，否则会面临罚款。加拿大的行车优先权非常严格，紧急车辆通过时，所有车辆必须停车让道。其次时校车，当校车打开“STOP”时，该到所有方向的车辆必须停车直到“STOP”关闭为止。所有左拐车必须等有安全距离时才可左拐；所有支路车辆必须让干路车辆。另外尤其值得注意的是，当路口有STOP标识时，一定要按照规定先停车查看交通状况，确定没有问题再行驶。</p>

            <h2>野生动物</h2>
            <p>加拿大对野生动物的保护是非常严格的，因此旅客随处可看到各种各样的野生动物，例如鹿，羊，熊等等。可是值得注意的是，看到野生动物，尽量与他们保持一定的距离，也不要随意把您手中的食物拿去喂他们，一方面可以保护您自身的安全，另一方面也可以更好地维持生态平衡。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
