<% content_for :header_class do %>lightHeader<% end %>

<section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1>加拿大签证办理</h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-push-9 col-xs-12">
        <aside>
          <div class="panel panel-default">
            <div class="panel-heading">相关资源</div>
            <div class="panel-body">
              <div class="list-group">
                <%= link_to article1_path, class: "list-group-item" do %>
                  加拿大入境安全<span class="badge"></span>
                <% end %>
                <%= link_to article3_path, class: "list-group-item" do %>
                  加拿大简介<span class="badge"></span>
                <% end %>
                <%= link_to article4_path, class: "list-group-item" do %>
                  旅游贴士<span class="badge"></span>
                <% end %>
                <%= link_to article5_path, class: "list-group-item" do %>
                  特色风土人情<span class="badge"></span>
                <% end %>
                <%= link_to article6_path, class: "list-group-item" do %>
                  购物指南<span class="badge"></span>
                <% end %>
              </div>
            </div>
          </div>

        </aside>
      </div>
      <div class="col-sm-9 col-sm-pull-3 col-xs-12">
        <div class="thumbnail blogSinglePost">
          <img src="img/blog/blog-single-01.jpg" alt="blog-single-image">
          <div class="caption">
            <h2>加拿大旅游签证申请全攻略</h2>
            <ul class="list-inline blogInfo" style="display:none;">
              <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Adam Smith</a></li>
              <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
              <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
            </ul>
            <p>
              想来加拿大玩，首先要解决的问题当然就是签证啦！申请签证的过程中准备材料可以说是最重要的一部分了，那么来加拿大旅游的话，需要申请哪种签证，又该如何准备材料呢？一起来看看吧~
            </p>
            <h5>确定签证种类</h5>
            <p>加拿大签证的种类比较多，在加拿大签证的官网页面上，主要分了四类：临时居民访问签证、学习许可、工作许可和永久居民旅行证件。</p>

            <%= image_tag "/a2-1.png", class: "img-rounded" %>

            <p>其实从签证分类的名称就可以很清晰地看懂每种签证对应的人群。想去加拿大旅游的话，申请临时居民访问签证就可以啦！</p>
            <p>
              临时居民访问签证相关信息：
              <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html">https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada.html</a><br>
              但是这个临时居民访问签证适用的不止是旅行者，去加拿大探亲访友、进行短期的商务或学术访问，以及过境加拿大这几种情况都包括在这个签证种类中呢。每种情况需要准备的材料都会有所不同，这篇文章主要介绍的是旅游签证需要准备的材料。
            </p>
            <h5>不是所有人都需要申请eTA</h5>

            <p>
              可能很多人都听说过eTA，并且对这个东西感到一脸懵逼……据官网解释，eTA即电子旅行许可，是加拿大（IRCC）推出的新的入境要求。根据eTA的要求，除美国公民及其他特定被豁免此项要求的旅行者外，所有来自入境加拿大的免签国家/地区的公民在搭乘飞机进入加拿大之前，都需要申请eTA。emmm说人话，只要持有中华人民共和国大陆的护照，就不用申请这个东西，只需要办理签证就好啦！但是港澳台地区的同胞还是需要申请eTA的哦。
            </p>
            <h5>材料准备清单</h5>
            <p>注意：除非特别注明，所有申请人必须提交的中文材料必须附有英文或法文翻译件；所有申请人需要填写的表格必须用英文或法文填写。</p>
            <ul class="normal_list">
              <li>
                填写完整的“临时居民访问签证申请表”。每位申请人及每位随行子女（如果有）均需填写一份申请表格，年满18周岁及以上的随行子女必须填写并签署其各自的申请表格。
              </li>
              <li>
                两张照片，每张照片后都要注明该申请人的姓名及出生日期，且必须符合照片要求：照片大小至少为35mm*45mm；面部位于照片中间，照片包括肩膀上部；照片中头部大小在31mm到36mm之间；六个月内拍摄，黑白或彩色均可；照片必须清楚，可清晰分辨出面貌特征，底色为白色或浅色；电子版照片不得作出任何修改；面部正对相机，表情自然，不要皱眉或微笑，合拢嘴巴；在双眼清晰可见的前提下可佩带无色的有度数眼镜，必须确保镜框没有遮挡眼睛的任何部分。不得佩戴太阳镜；在不影响本来面貌的前提下，可以佩戴假发或其他装饰品；如果必须因为宗教原因佩戴面纱，确保脸部特征能全部体现。
              </li>
              <li>
                有效护照，申请人及每位随行家庭人员的护照必须包含除最后一页外的至少一整页空白页，且护照必须在行程前至少六个月内有效。
              </li>
              <li>
                申请人本人的中国身份证复印件（照片页即可）。
              </li>
              <li>
                正确方式支付费用的凭证，包括申请受理费和生物识别费（如适用）。
              </li>
              <li>
                如果有第三方人士帮助准备此次申请，需填写“代理人信息表”。
              </li>
              <li>
                18周岁以下的申请人需递交未随行父/母出具的同意其旅行的父母同意函，此函应包含申请人旅行日期及其父母联系方式等信息。
              </li>
              <li>
                家庭信息表，完整填写，标注日期并签名。
              </li>
              <li>
                “教育和就业细节表”，申请人及每位年满18岁及以上的随行家庭成员都需完整地使用中英文或中法文填写。
              </li>
            </ul>
            <p>旅游签证还需准备：</p>
            <ul class="normal_list">
              <li>职业证明：(如果在职，使用印有公司抬头信笺的、由雇主签字的准假信原件，并包含以下信息：申请人的姓名、职位、收入和起聘日期；用中文注明的雇主全称和地址，以及电话和传真号码；如果退休，需提供退休证明原件、复印件以及养老金证明；如果是学生，且于非学校假期期间旅行，需提供一份学校出具的确认其在读及良好表现、并同意其缺勤的信函原件。)</li>
              <li>资金及财产证明：显示过去若干月中财政历史的银行文件（如存款证明、存折等）；在中国的财产证明（如房产证原件、车辆登记证原件等）。</li>
              <li>所有过往旅行的证明（如包含旅行记录但已经过期的旧护照等）；</li>
              <li>详细行程安排</li>
              <li>协助申请人安排此次行程的所有中介的全称和地址（无论在中国或加拿大，如适用）。</li>
            </ul>

            <p>商务或学术访问签证还需准备：</p>
            <ul class="normal_list">
              <li>邀请信或注册函：若从事公司间商务活动，需递交来自加方的邀请信；若参加贸易会展或商务会议，需递交会议组织方出具的注册确认函；</li>
              <li>一份由中方雇主使用公司抬头信笺签发的准假信原件；</li>
              <li>资金及财产证明，要求与旅游签证相同。</li>
            </ul>
            <p>探访亲友签证还需准备：</p>
            <ul class="normal_list">
              <li>与加拿大邀请人关系的证明（如出生证复印件、户口复印件等）；</li>
              <li>邀请人在加拿大的身份、财产证明；</li>
              <li>申请人的职业证明，要求与旅游签证相同；</li>
              <li>申请人的资金及财产证明，要求与旅游签证相同。</li>
            </ul>

            <p>过境签证还需准备：</p>
            <ul class="normal_list">
              <li>机票和行程安排的复印件；最终目的地国家的有效签证；职业证明，要求与旅游签证相同；过往旅行证明，要求与旅游签证相同。<li>
            </ul>

            <h5>填表详细攻略</h5>
            <p>需要填写的表格主要有：</p>
            <ul class="normal_list">
              <li>临时居民访问签证申请表（IMM 5257）</li>
              <li>家庭信息表（IMM 5645）</li>
              <li>教育和就业细节表 </li>
              <li>如果有其他人帮忙申请，还需要填写代理人信息表（IMM 5476E）</li>
              <li>同居伴侣法定声明表（IMM 5409），只有当申请人与其同居伴侣想一同申请加拿大入境签证和逗留许可时才需要填写，该表格允许主申请者向加国就自己和伴侣的生活历史进行必要的申明。由于代理人信息表一般由代理人而非申请人填写，同居伴侣法定声明表对大部分申请者来说不必填写，所以下面主要会讲一讲前三个必填的表具体怎么填~</li>
            </ul>

            <h5>临时居民访问签证申请表（IMM 5257）</h5>
            <p>下载地址：<a href="https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5257e.pdf">https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5257e.pdf</a></p>
            <p>需要注意的是，这是一份非常高大上的pdf格式表格，很多信息可以直接在pdf中勾选，所以在网页上是无法预览的，必须要下载到电脑里才能打开哦~这份表格看起来难，但实际上是由十个部分组成的，分解开来一部分一部分的看，其实是很好填哒！</p>
            <p>第一部分：</p>
            <p>UCI即Unique Client Identifier，申请人唯一客户账号。如果以前成功申请过加拿大签证会有，是一串八位数字的号码，可以在之前的加拿大签证页面上看到。如果是第一次申请加拿大签证的话，这个地方空着即可。</p>
            <p>服务语言：只能选择英语或法语。</p>
            <p>签证类型：选择访问或过境。</p>
            <p>第二部分：个人信息</p>
            <%= image_tag "/a2-2.png", class: "img-rounded" %>
            <%= image_tag "/a2-3.png", class: "img-rounded" %>



            <p>一共有11个小问题，依次为：姓名、曾用名（没有可不填）、性别、生日、出生地、国籍、目前居住国家、过去居住国家（过去五年内是否在其他国家居住过六个月以上，如果是的话，要填写具体国家、时间、在那个国家做了什么）、申请签证时所在国家、婚姻状况、前婚姻状况。按照自己的实际情况填写就可以啦~</p>
            <p>第三部分：语言</p>
            <p>a) 母语是什么？b) 是否能用英语或法语交流？c) 哪种语言使用得最流畅（只能选英语或法语，可不填）？d) 是否参加过指定检测机构的英语或法语水平测试？</p>
            <p>第四部分：护照</p>
            <p>从左到右依次为：护照号码、护照签发国、签发日期、到期日期。</p>
            <p>第五部分：联系信息</p>

            <%= image_tag "/a2-4.png", class: "img-rounded" %>

            <p>从上到下包括六个部分，依次为：1.邮寄地址；2.家庭地址（可与邮寄地址相同）；3.电话号码；4.备用电话号码；5.传真号码；6.电子邮件。</p>
            <p>电子邮件地址几乎是这部分最重要的了，填写后所有申请相关信息都会发送到你的电子邮箱中，一定要确认好邮箱地址填写正确。申请期间可以经常翻翻自己的邮箱，没有收到消息的话建议去邮箱的垃圾箱里看一看。另外，如果是代理人代办的签证，电子邮箱一栏中要填写代理人的邮箱，还要确认一下这个邮箱和代理人信息表中所填写的邮箱是否一致。</p>
            <p>第六部分：访问细节</p>
            <p>包括1.访问目的；2.停留时间；3.访问预算；4.邀请人信息（没有的话可以填写N/A）。需要注意的是，预算的填写单位是加元而不是人民币哦。预算包括在加拿大期间的一切花费，一定要保证每天的食宿、交通以及游玩费用。</p>
            <p>第七部分：教育信息</p>
            <p>是否接受过高等教育（高中及以上），如果选择是，需要填写取得最高学历时所在学校的信息。</p>
            <p>第八部分：工作信息</p>

            <%= image_tag "/a2-5.png", class: "img-rounded" %>

            <p>过去十年内的所有工作信息，包括每段工作经历的起止日期、职位、单位名称、所在地点，时间上为逆序，而且在这十年内不能有时间上的空白。如果没有工作或是学生则需要注明。退休的话，需要提供退休之前十年内的工作信息。</p>
            <p>第九部分：背景信息（18岁及以上必填）</p>
            <%= image_tag "/a2-6.png", class: "img-rounded" %>
            <%= image_tag "/a2-7.png", class: "img-rounded" %>


            <p>共有六个大问题，依次为：</p>
            <ol class="normal_list">
              <li>
                <ul class="normal_list">
                  <li>a）过去两年内，你或你的家人是否得过肺结核，或与肺结核病人亲密接触过？</li>
                  <li>b）在加拿大停留期间，你是否患有精神或心理疾病，这种疾病需要除医学治疗外的社会服务和/或保健服务？</li>
                  <li>c）若以上任一问题选择了“是”，请填写具体细节及家庭成员姓名。</li>
                </ul>
              </li>

              <li>
                <ul class="normal_list">
                  <li>a）你是否曾在加拿大超期滞留、非法求学或就业？</li>
                  <li>b）你是否曾被加拿大或其他国家拒签、拒绝入境或强制离境？</li>
                  <li>c）若以上任一问题选择了“是”，请填写具体细节。</li>
                </ul>
              </li>

              <li>
                <ul class="normal_list">
                  <li>a）你是否曾经被任何国家认定为犯罪、被捕或被起诉刑事犯罪？</li>
                  <li>b）若选择了“是”，请填写具体细节。</li>
                </ul>
              </li>

              <li>
                <ul class="normal_list">
                  <li>a）你是否曾在任何军队、民兵组织或民防单位，或在安全机构或者警察部队（包括非强制性兵役、预备役或志愿者）服役？</li>
                  <li>b）若选择了“是”，请提供服役的具体日期和国家。</li>
                </ul>
              </li>

              <li>你是否曾经是以暴力手段或鼓吹暴力手段来达到政治或宗教目标的团体组织的成员，或曾经参加过犯罪活动？
              </li>

              <li>你是否曾经目睹或参与过虐待活动、抢劫或亵渎过宗教建筑？</li>
            </ol>

            <p>第十部分：信息确认及签名</p>
            <%= image_tag "/a2-8.png", class: "img-rounded" %>

            <p>你是否接受加拿大移民局或加拿大移民局授权组织对你的联系和询问？（类似用户回访、用户满意度调查）18岁及以上者需亲手签名并填写日期，18岁以下者需监护人签名并填写日期。</p>
            <p>终于填完这份长长的表格啦！但是别忘了最后一步哦，如果你是在电脑上填的表，填好并确认无误后点击表格第一页上方正中间那个深蓝色的“validate”按钮，表格就会自动保存啦！千万不要点“clear form”，那会把你辛辛苦苦填好的表格格式化的……</p>
            <p>家庭信息表（IMM 5645）</p>
            <p>下载地址：<a href="https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5645e.pdf">https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5645e.pdf</a></p>
            <p>首先要勾选申请类型，临时居民访问签证的话选择第一个“Visitor”即可。</p>
            <p>然后呢，家庭信息表一共分为四个部分，前三个部分要填写的信息都是一样的，只是对象不同而已，所以就放在一起讲啦。</p>

            <%= image_tag "/a2-9.png", class: "img-rounded" %>

            <p>如图，第一部分要填写的是申请人自己、申请人配偶和父母的个人信息，从左到右依次为：完整姓名（英文和中文都要填写）、与申请人关系、出生日期、婚姻状况、目前住址及职业，是否会和申请人一起前往加拿大。没有配偶的话需要在第一部分末尾“没有配偶”的声明处签字并填写日期。</p>
            <%= image_tag "/a2-10.png", class: "img-rounded" %>
            <p>第二部分要填写申请者孩子的信息，如果有领养的孩子或继子女都要填写哦！没有孩子的话则需要填写第二部分末尾“申请者没有任何孩子”的声明，还需要签字并填写日期。</p>
            <%= image_tag "/a2-11.png", class: "img-rounded" %>
            <p>第三部分则要填写申请者兄弟姐妹的信息，异父母兄弟姐妹的信息也要填写。</p>
            <p>最后一部分就是关于这份表格真实性的声明啦，签字并填写日期就好。</p>
            <p>教育和就业细节表
            <p>下载地址：<a hef="http://onlineservices-servicesenligne.cic.gc.ca/eapp/resource/pdf/GEN_Education_and_Employment_Form_EN_CH.pdf">http://onlineservices-servicesenligne.cic.gc.ca/eapp/resource/pdf/GEN_Education_and_Employment_Form_EN_CH.pdf</p>
            <%= image_tag "/a2-12.png", class: "img-rounded" %>
            <p>这个表可以说是三个表里面最好填的啦，因为这个表非常贴心地是中英文对照的，填表什么的完全没有问题~唯一需要注意的一点就是，这个表格需要用中文和英文，或中文和法文填写，不能只用一种语言填写哦。</p>
            <p>另附其他两个表格下载地址：</p>
            <p>★代理人信息表：</p>
            <p><a href="https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5476e.pdf">https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5476e.pdf</a></p>
            <p>★同居伴侣法定声明表</p>
            <p><a href="https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5409e.pdf">https://www.canada.ca/content/dam/ircc/migration/ircc/english/pdf/kits/forms/imm5409e.pdf</a></p>
            <p>此外，乐途君还非常贴心地为你准备了加拿大旅游签证所需材料的检查清单哦，对照着清单准备材料，更加事半功倍~</p>
            <p>加拿大旅游签证材料清单</p>
            <ul class="normal_list">
              <li>临时居民访问签证申请表（IMM 5257</li>
              <li>家庭信息表（IMM 5645）</li>
              <li>教育和就业细节表</li>
              <li>两张照片</li>
              <li>有效护照</li>
              <li>身份证照片页复印件</li>
              <li>付费凭证</li>
              <li>职业证明</li>
              <li>资金及财产证明</li>
              <li>所有过往旅行证明</li>
              <li>详细行程安排</li>
            </ul>
            <p>如果请了代理帮忙办理签证，还需要：</p>
            <ul class="normal_list">
              <li>代理人信息表（IMM 5476E）</li>
              <li>协助申请人协助申请人安排此次行程的所有中介的全称和地址（无论在中国或加拿大）</li>
            </ul>
            <p>如果申请人未满18岁，还需要：</p>
            <ul class="normal_list">
              <li>未随行父/母出具的同意其旅行的父母同意函</li>
            </ul>
            <p>提交材料</p>
            <p>可以选择在网申系统里提交材料、邮寄材料或直接去签证中心提交材料。具体如何提交材料、签证中心地址和网申流程，会专门在下一篇签证攻略里讲到哦~</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
