<footer>
  <div class="footer clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-xs-12">
          <div class="footerContent">
            <%= link_to root_path, class: "footer-logo" do %>
              <%= image_tag "logo-color-sm.png", alt: "footer-logo" %>
            <% end %>
            <p>
              加拿大乐途定制旅游公司（Happy Tour Ltd），简称乐途定制，是一家新型的综合性旅游地接公司，总部位于加拿大西海岸著名的旅游观光城市温哥华。是中国及加拿大旅游局认可的旅游地接社；同时也是多家大型旅游代理商及网络线上销售平台指定旅游地接社。作为一家充满全新血液的公司，乐途拥有自己独特的文化与经营理念。伴随着近年来高端定制旅游的兴起，乐途积极响应市场的号召，大力投入有限的资源发展加拿大西海岸高端定制及特色线路旅游，短短的五年内占据了市场的一席之地。公司自成立以来，一直不忘初衷本着顾客至上的经营理念，在不断追求创新的同时，更注重品质上的保证。乐途一直坚信，定制游与特色游并不代表一定是高价，而是帮助人们真正意义上的用心去旅游，获得身体及心灵的双重收益。定制游在现今的优势在于依据客人的需求，可以随心所欲的制定特别行程计划，与此同时，由于其高度的自由性，客人更可以体会到很多传统意义的旅行团所无法体会到的深度游乐趣。倒退回公司创办第一年，我们的口号是：帮助更多人真正意义上的认识加拿大；而现在，我们的口号是“帮助更多人真正意义上认识全世界”。
            </p>
            <p>
              <strong>业务范围：</strong><br>
              全球旅游定制服务；加西加东美西10人精品小团；加西加东美西旅游包车服务；全球特色旅游线路招募；商务考察地接；各类夏令营，冬令营地接；摄影团，剧组，及各类娱乐考察项目地接
            </p>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12" style="display: none;">
          <div class="footerContent imgGallery">
            <h5>初到加拿大</h5>
            <div class="row">
              <!-- <div class="col-xs-4">
                <a class="fancybox-pop" href="img/home/gallery/gallery-1.jpg"><img src="img/home/gallery/thumb-gallery-1.jpg" alt="image"></a>
              </div> -->
              <div class="col-xs-12">
                <%= link_to "加拿大入境安全", article1_path %>
              </div>
              <div class="col-xs-12">
                <%= link_to "加拿大签证办理", article2_path %>
              </div>
              <div class="col-xs-12">
                <%= link_to "加拿大简介", article3_path %>
              </div>
              <div class="col-xs-12">
                <%= link_to "旅游贴士", article4_path %>
              </div>
              <div class="col-xs-12">
                <%= link_to "特色风土人情", article5_path %>
              </div>
              <div class="col-xs-12">
                <%= link_to "购物指南", article6_path %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="footerContent">
            <h5>联系我们</h5>
            <p>加拿大乐途定制旅游.</p>
            <ul class="list-unstyled">
              <li><i class="fa fa-home" aria-hidden="true"></i>7151 No.5 Rd Richmond BC</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>+1 604 636-8588 (本地)</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>95040386366 (中国免费专线)</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailTo:service@happytourcanada.com ">service@happytourcanada.com </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>合作伙伴</p>
          <ul class="list-inline">
            <li>
              <a href="https://www.consumerprotectionbc.ca/" target="_blank">
                <%= image_tag "bc.png", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://tiac-aitc.ca/cgi/page.cgi/members_home.html" target="_blank">
                <%= image_tag "TIAC.png", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://cn.toursforfun.com/?regorigin=channel&utm_source=google_tf&utm_medium=cpc&utm_term=tufeng&gclid=CjwKCAjwk7rmBRAaEiwAhDGhxKue7I-2XTzLHCX1DQNWjuL8KnJOvlwduVkulMYNkrW5jzhQnSqj2xoC66EQAvD_BwE" target="_blank">
                <%= image_tag "tufeng.jpg", style: "height: 50px;" %>
              </a>
            </li>
            <li>
              <a href="https://www.lulutrip.com/" target="_blank">
                <%= image_tag "lulu.png", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://www.mafengwo.cn/" target="_blank">
                <%= image_tag "mafeng.jpg", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://www.ctrip.com/?sid=155989&allianceid=4899&gclid=CjwKCAjwk7rmBRAaEiwAhDGhxDIVxzcCjjgTCCtpyd7SnGiFSLtZqDVSl-LfvaDmlOLlyVKhqpwHsRoChpoQAvD_BwE&gclsrc=aw.ds" target="_blank">
                <%= image_tag "ctrip.jpg", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://www.alipay.com/ 支付宝支付" target="_blank">
                <%= image_tag "alipay.png", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
            <li>
              <a href="https://pay.weixin.qq.com/index.php/core/home/login" target="_blank">
                <%= image_tag "wexin.jpg", style: "height: 50px;background: #fff;" %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12">
        </div>
        <div class="col-sm-6 col-sm-pull-6 col-xs-12">
          <div class="copyRightText">
            <p>Copyright © 2016. All Rights Reserved by <%= link_to "Happy Tour Canada", root_path, target: "_blank" %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
