<header>
  <nav class="navbar navbar-default navbar-main navbar-fixed-top <%= yield(:header_class) %>" role="navigation">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <%= link_to "首页", root_path %>
          </li>
          <li class="">
            <%= link_to "关于我们", contact_path %>
          </li>
          <li class="dropdown singleDrop ">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">经典线路</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown dropdown-submenu">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">温哥华周边 <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <% Product.all.each do |product| %>
                  <li>
                    <%= link_to product.name, product_path(product) %>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown dropdown-submenu">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">落基山脉 <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li class=""><a href="blog-list-right-sidebar.html">路线三级目录</a></li>
                  <li class=""><a href="blog-list-left-sidebar.html">路线三级目录</a></li>
                  <li class=""><a href="blog-list-fullwidth.html">路线三级目录</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-submenu">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">加东 <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li class=""><a href="blog-single-right-sidebar.html">路线三级目录</a></li>
                  <li class=""><a href="blog-single-left-sidebar.html">路线三级目录</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-submenu">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">美国 <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li class=""><a href="blog-single-right-sidebar.html">路线三级目录</a></li>
                  <li class=""><a href="blog-single-left-sidebar.html">路线三级目录</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown megaDropMenu ">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">特色旅游</a>
            <ul class="row dropdown-menu">
              <li class="col-sm-6 col-xs-12">
                <ul class="list-unstyled">
                  <li>加拿大</li>
                  <li class=""><a href="hotels-grid-left-sidebar.html">Hotels Sidebar Left</a></li>
                  <li class=""><a href="hotels-grid-right-sidebar.html">Hotels Sidebar Right</a></li>
                  <li class=""><a href="hotels-grid.html">Hotels 3 Columns</a></li>
                </ul>
              </li>
              <li class="col-sm-6 col-xs-12">
                <ul class="list-unstyled">
                  <li>环游世界</li>
                  <li class=""><a href="hotels-list-left-sidebar.html">Hotels Sidebar Left</a></li>
                  <li class=""><a href="hotels-list-right-sidebar.html">Hotels Sidebar Right</a></li>
                  <li class=""><a href="hotels-list.html">Hotels List</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown singleDrop">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">海岛度假</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class=""><a href="about-us.html">About Us</a></li>
              <li class="active"><a href="contact.html">Contact Us</a></li>
              <li class="dropdown dropdown-submenu ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Gallery <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu ">
                  <li class=""><a href="gallery-grid.html">Gallery Grid</a></li>
                  <li class=""><a href="gallery-masonry.html">Gallery Masonry</a></li>
                  <li class=""><a href="gallery-photo-slider.html">Photo Slider</a></li>
                </ul>
              </li>
              <li class="dropdown dropdown-submenu ">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Destinations <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li class=""><a href="destination-cities.html">Destination Cities</a></li>
                  <li class=""><a href="destination-single-city.html">Single Destination</a></li>
                </ul>
              </li>
              <li><a href="404.html">404 Not Found</a></li>
              <li><a href="coming-soon.html">Coming Soon</a></li>
            </ul>
          </li>
          <li class="">
            <%= link_to "旅游定制", customize_path %>
          </li>
          <li class="">
            <%= link_to "机票酒店", airfares_and_hotels_path %>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
